<h1>Sup?</h1>
<p>
  Find me in app/views/pages/home.html.erb
  <%= link_to "Interaction hero", "http://Interactionhero.com" %>
</p>

<%= link_to "Sign up", new_user_registration_path, class: "btn" %>
